<div class="jumbotron text-center">
    <img class="card-img-top" src="../../../assets/backgroud.jpg" alt="Card image cap">
</div>

<div class="row">

    <div class="col-md-4">
        <h3>ปากกา</h3>
        <div class="card md-4 box-shadow">
            <img class="card-img-top" src="../../../assets/pen.jpg" alt="card image cap">
            <div class="card-body">
                <p class="card-text">ปากกาแท่งละ 15 บาท</p>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- <button></button> -->
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <h3>สมุดจดบันทึก</h3>
        <div class="card md-4 box-shadow">
            <img class="card-img-top" src="../../../assets/notebook.jpg" alt="card image cap">
            <div class="card-body">
                <p class="card-text">สมุดบันทึก ราคา เล่มละ 100 บาท</p>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- <button></button> -->
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <h3>กระเป๋า</h3>
        <div class="card md-4 box-shadow">
            <img class="card-img-top" src="../../../assets/backpack.jpg" alt="card image cap">
            <div class="card-body">
                <p class="card-text">กระเป๋าเป้ ราคา ใบละ 320 บาท</p>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- <button></button> -->
                </div>
            </div>
        </div>
    </div>

</div>