<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">ของที่ระลึก มทส</a>
    <button type="button" class="navbar-toggler collapsed">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div id="navbar" class=" navbar-collapse collapse">
        <ul class="navbar-nav mr-auto"></ul>



        <ul class="navbar-nav ml-auto">

            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]='["/addproduct"]'>Add Product</a>
            </li>

            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]='["/register"]'>Register</a>
            </li>

            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]='["/login"]'>Login</a>
            </li>


        </ul>
    </div>
</nav>

<h1>hello world</h1>